<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>DownloaderServlet</servlet-name>
		<servlet-class>it.discovery.marina.DownloaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DownloaderServlet</servlet-name>
		<url-pattern>/get/*</url-pattern>
	</servlet-mapping>
</web-app>
